<!DOCTYPE html>
<html>
  <head>
    <title>Pantry2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-800 dark:border-gray-700 dark:text-white">
    <main class="container mx-auto mt-8">
    <nav class="flex flex-row items-center gap-2 mb-8">
      <img class="w-24 h-24 rounded-full" src="https://media.discordapp.net/attachments/783302018168651837/1229479584169332878/51ttqdI-fiL.png?ex=662fd517&is=661d6017&hm=131ae00a4c50439e076733dd40a4a1e9660b99e8dbc275d0d624ca900e8830ed&=&format=webp&quality=lossless&width=572&height=572" alt="Rounded avatar">
        <%= link_to "MyCookingSkills", "/",class: "text-4xl font-bold" %>
        <%= link_to "Ingredients", "/ingredients",class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 text-2xl font-bold" %>
        <div data-controller="langage">
        <a data-action="click->langage#switch" >­ЪЄФ­ЪЄи</a>
        <a  data-action="click->langage#switch">­ЪЈ┤заЂДзаЂбзаЂЦзаЂ«заЂДзаЂ┐</a>
        </div>
    </nav>

      <%= yield %>
    </main>
  </body>
</html>
